<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('支付成功回调列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>userId：</label>
                                <input type="text" name="userId"/>
                            </li>
                            <li>
                                <label>订单id：</label>
                                <input type="text" name="payId"/>
                            </li>
                            <li>
                                <label>订单金额：</label>
                                <input type="text" name="price"/>
                            </li>
                            <li>
                                <label>实际支付金额：</label>
                                <input type="text" name="reallyPrice"/>
                            </li>
                            <li>
                                <label>签名：</label>
                                <input type="text" name="sign"/>
                            </li>
                            <li>
                                <label>companyId：</label>
                                <input type="text" name="companyId"/>
                            </li>
                            <input type="hidden" value="id" name="orderByColumn"/>
                            <input type="hidden" value="desc" name="isAsc"/>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:log:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:log:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:log:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:log:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:log:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:log:remove')}]];
        var prefix = ctx + "system/log";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "支付成功回调",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: 'id'
                },
                {
                    field: 'companyId',
                    title: 'companyId'
                },
                {
                    field: 'userId',
                    title: 'userId'
                },
                {
                    field: 'type',
                    title: '类型 0: 按天  1:次'
                },
                {
                    field: 'payId',
                    title: '订单id'
                },
                {
                    field: 'payType',
                    title: '支付方式 ：微信支付为1 支付宝支付为2'
                },
                {
                    field: 'price',
                    title: '订单金额'
                },
                {
                    field: 'reallyPrice',
                    title: '实际支付金额'
                },
                {
                    field: 'sign',
                    title: '签名'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>