<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>用户列表</title>
	<link th:href="@{/css/layui.css}" rel="stylesheet"/>
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/layui.js}"></script>
</head>
<body>

<div class="layui-row">
	<div class="layui-col-md12">
		<table id="demo2"></table>
	</div>
</div>

<script th:inline="none">

	layui.use('table', function(){
		var table = layui.table
				, $ = layui.$;

		table.render({
			elem: '#demo2'
			,height:460
			,url: '/partner/userInfoList' //数据接口
			,page: true //开启分页
			// ,where: {"pageNo":1,"pageSize":10}
			,cols: [[ //表头
				{field: 'name', title: '姓名' }
				,{field: 'free35', title: '每天的免费次数'}
				,{field: 'chatgpt35', title: 'chatgpt3.5次数'}
				,{field: 'chatgpt40', title: 'chatgpt4.0次数'}
				,{field: 'createTime', title: '创建时间'}
			]]
			,done: function (res) { // 隐藏列
			}
		});

	});

</script>

</body>
</html>