<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('用户信息详情列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>每天免费次数：</label>
                                <input type="text" name="freeTime"/>
                            </li>
                            <li>
                                <label>用户id：</label>
                                <input type="text" th:value="${userId}" name="userId"/>
                            </li>
                            <li>
                                <label>充值时间：</label>
                                <input type="text" class="time-input" placeholder="请选择充值时间" name="rechargeTime"/>
                            </li>
                            <li>
                                <label>到期时间：</label>
                                <input type="text" class="time-input" placeholder="请选择到期时间" name="expirationTime"/>
                            </li>
                            <li>
                                <label>companyId：</label>
                                <input type="text" name="companyId"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:info:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:info:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:info:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:info:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:info:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:info:remove')}]];
        var prefix = ctx + "system/info";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "用户信息详情",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: 'id'
                },
                {
                    field: 'companyId',
                    title: 'companyId'
                },
                {
                    field: 'userId',
                    title: '用户id'
                },
                {
                    field: 'freeTime',
                    title: '每天免费次数'
                },
                {
                    field: 'moneyTime',
                    title: '3.5充值次数'
                },
                {
                    field: 'rechargeTime',
                    title: '3.5充值时间'
                },
                {
                    field: 'expirationTime',
                    title: '3.5到期时间'
                },
                {
                    field: 'moneyTimeFour',
                    title: '4.0充值次数'
                },
                {
                    field: 'rechargeTimeFour',
                    title: '4.0充值时间'
                },
                {
                    field: 'expirationTimeFour',
                    title: '4.0到期时间'
                },
                {
                    field: 'inviteCount',
                    title: '邀请人数'
                },
                {
                    field: 'buyCount',
                    title: '购买人数'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>