<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.openai.mapper.OpenaiPromptsTypeMapper">
    
    <resultMap type="OpenaiPromptsType" id="OpenaiPromptsTypeResult">
        <result property="id"    column="id"    />
        <result property="companyId"    column="company_id"    />
        <result property="type"    column="type"    />
        <result property="name"    column="name"    />
        <result property="sort"    column="sort"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectOpenaiPromptsTypeVo">
        select id,company_id,type, name, sort, create_time, update_time, create_by, update_by from openai_prompts_type
    </sql>

    <select id="selectOpenaiPromptsTypeList" parameterType="OpenaiPromptsType" resultMap="OpenaiPromptsTypeResult">
        <include refid="selectOpenaiPromptsTypeVo"/>
        <where>
            <if test="companyId != null "> and company_id = #{companyId}</if>
            <if test="type != null "> and type = #{type}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="sort != null "> and sort = #{sort}</if>
        </where>
    </select>
    
    <select id="selectOpenaiPromptsTypeById" parameterType="Long" resultMap="OpenaiPromptsTypeResult">
        <include refid="selectOpenaiPromptsTypeVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertOpenaiPromptsType" parameterType="OpenaiPromptsType" useGeneratedKeys="true" keyProperty="id">
        insert into openai_prompts_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyId != null">company_id,</if>
            <if test="type != null">type,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="sort != null">sort,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyId != null">#{companyId},</if>
            <if test="type != null">#{type},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="sort != null">#{sort},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
         </trim>
    </insert>

    <update id="updateOpenaiPromptsType" parameterType="OpenaiPromptsType">
        update openai_prompts_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyId != null">company_id = #{companyId},</if>
            <if test="type != null">type = #{type},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteOpenaiPromptsTypeById" parameterType="Long">
        delete from openai_prompts_type where id = #{id}
    </delete>

    <delete id="deleteOpenaiPromptsTypeByIds" parameterType="String">
        delete from openai_prompts_type where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>