<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.openai.mapper.OpenaiFaqMapper">
    
    <resultMap type="OpenaiFaq" id="OpenaiFaqResult">
        <result property="id"    column="id"    />
        <result property="type"    column="type"    />
        <result property="title"    column="title"    />
        <result property="content"    column="content"    />
        <result property="sort"    column="sort"    />
        <result property="isErased"    column="is_erased"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectOpenaiFaqVo">
        select id, type, title, content, sort, is_erased, create_time, update_time, create_by, update_by from openai_faq
    </sql>

    <select id="selectOpenaiFaqList" parameterType="OpenaiFaq" resultMap="OpenaiFaqResult">
        <include refid="selectOpenaiFaqVo"/>
        <where>  
            <if test="type != null "> and type = #{type}</if>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="sort != null "> and sort = #{sort}</if>
            <if test="isErased != null "> and is_erased = #{isErased}</if>
        </where>
    </select>
    
    <select id="selectOpenaiFaqById" parameterType="Long" resultMap="OpenaiFaqResult">
        <include refid="selectOpenaiFaqVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertOpenaiFaq" parameterType="OpenaiFaq" useGeneratedKeys="true" keyProperty="id">
        insert into openai_faq
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="type != null">type,</if>
            <if test="title != null and title != ''">title,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="sort != null">sort,</if>
            <if test="isErased != null">is_erased,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="type != null">#{type},</if>
            <if test="title != null and title != ''">#{title},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="sort != null">#{sort},</if>
            <if test="isErased != null">#{isErased},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
         </trim>
    </insert>

    <update id="updateOpenaiFaq" parameterType="OpenaiFaq">
        update openai_faq
        <trim prefix="SET" suffixOverrides=",">
            <if test="type != null">type = #{type},</if>
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="isErased != null">is_erased = #{isErased},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteOpenaiFaqById" parameterType="Long">
        delete from openai_faq where id = #{id}
    </delete>

    <delete id="deleteOpenaiFaqByIds" parameterType="String">
        delete from openai_faq where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>